@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Caveat+Brush:wght@400&display=swap');

/* add animation to h1 and h1 span */
/* nav bar animation hover */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
    cursor: default;
}
.navbar{
    display: flex;
    align-items: baseline;
    border-bottom: 0.12em solid rgba(238, 231, 231, 0.932);
    background-color: white;
    width: 84.5em;
    position: fixed;
}
.navbar .title{
    margin-top: 1em;
    margin-left: 4em;
    font-weight: 600;
    font-size: 1.5em;
}
li{
    list-style: none;
    padding: 0.5em;
    margin-left: 0.2em;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 0.5em solid black;
}

ul{
    display: flex;
    flex-direction: row;
    margin-left: 30em;

}

.home{
    background-color: rgba(99, 97, 212, 0.726);
    /* padding: 15em; */
    color: rgba(0, 0, 0, 0.925);
    /* background-image: url(/resources/home-page.svg);
    background-repeat: no-repeat;    */
}
.home h1{
    margin: 0;
    /* padding: 5em; */
    padding-top: 5em;
    font-size: 3em;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    /* color: rgba(87, 38, 52, 0.932); */
    cursor: default;
}
.home span{
    display: block;
    margin-top: 0.1em;
    letter-spacing: 0.01em;
    font-size: 2em;
}
.home i{
    margin: 3.5em 0 3em -0.5em;
}

.about{
    text-align: center;
    background-color: #83d39d;
    padding: 0 2em 5em 2em;
    
}
.about h2{
    margin: 0;
    padding-top: 4em;
    padding-bottom: 2em;
}
.about-grid-outer{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.2em;
}

.about-inner{
    background-color: #3AADAB;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 10em;
}
.skills-inner{
    background-color: #3AADAB;
    padding: 1em;
    border-radius: 1em;
    margin-top: 17em;
}
.project{
    background-color: burlywood;
}
.project h2{
    margin: 0;
    text-align: center;
    padding-top: 3em;
}






.contact{
    background-color: rgba(85, 124, 124, 0.952);
}
.contact h2{
    margin: 0;
    padding-bottom: 0;
}



.footer{
    background-color: rgb(255, 255, 255);
}
.footer h3{
    margin: 0;
}