@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

:root{
    --font-primary: 'Ubuntu', sans-serif;
    --font-regular: 400;
    --font-semibold: 500;
    --font-bold: 600;
}
/* add animation to h1 and h1 span */
/* nav bar animation hover */

body{
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
    text-align: center;
    scroll-behavior: smooth;
    background-color: rgba(12, 12, 12, 0.959);
    color: white;
}

/* navigation-section */

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: default;
}
.navbar{
    display: flex;
}
.navbar .title{
    text-align: center;
    margin: 1.5em 0 0 5em;
    font-weight: var(--font-semibold);
    font-size: 1.6em;
}
.social-links{
    display: grid;
    gap: 1em ;
    position: relative;
    top: 10em;
    left: 7em;

}

/* home-section start here*/

.home{
    color: white;
    font-size: 1.8em;    
    font-weight: var(--font-semibold);
}
.drawable-object{
    position: absolute;
    top: 5em;
    left: -8em;
    opacity: 30%;
}
.home h1{
    margin-top: 4.5em;
    cursor: default;
}
.underline{
    border: 0.1em solid rgb(23, 206, 120);
    position: relative;
    left: 3.95em;
    top: 10.15em;
    width: 10.8em;
    z-index: -1;
}
.home p{
    font-size: 0.7em;
    font-weight: var(--font-regular);
    margin: 1em;
    line-height: 1.6em;
}
.home span{
    display: block;
}
.drawable-object-2{
    position: absolute;
    top: 11em;
    left: 12.5em;
    opacity: 50%;
}




hr{
    width: 28em;
}


.about{
    text-align: center;
    /* background-color: #5e8d6e; */
    padding: 0 2em 5em 2em;
    
}
.about h2{
    margin: 0;
    padding-top: 4em;
    padding-bottom: 2em;
}
.about-grid-outer{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.2em;
}

.about-inner{
    /* background-color: #396c9c; */
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 10em;
}
.skills-inner{
    /* background-color: #3AADAB; */
    padding: 1em;
    border-radius: 1em;
    margin-top: 17em;
}
.project{
    /* background-color: burlywood; */
}
.project h2{
    margin: 0;
    text-align: center;
    padding-top: 3em;
}



.contact{
    /* background-color: rgba(85, 124, 124, 0.952); */
    padding-bottom: 2em;
}
.contact h2{
    margin: 0;
    padding-bottom: 0;
}
/* .contact > i{
    border: 0.3em solid white;
    background-color: white;
    border-radius: 100%;
} */



.footer h3{
    margin: 0;
}

@media screen and (min-width: 600px) {  
    .social-links{
        display: block;
        left: 22em;
        top: 1em;
        padding: 0.35em;
    }
    .drawable-objects{
        left: -5em;
    }
        
}